<h1>Appointments Scheduler</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Practice</label>
      <!-- <input  class="form-control"  placeholder="Practice"> -->
      <select class="form-control">
          <option selected>Choose...</option>
          <option value="1">HEMA</option>
          <option value="2">SEEMA</option>
          <option value="3">MEENA</option>
        </select>
    </div>
    <div class="form-group col-md-3">
      <label >Location</label>
      <!-- <input  class="form-control"  placeholder="Location"> -->
      <select class="form-control">
          <option selected>Choose...</option>
          <option value="1">HEMA</option>
          <option value="2">SEEMA</option>
          <option value="3">MEENA</option>
        </select>
    </div>
    <div class="form-group col-md-3">
    <label >Provider / Physician Assistant</label>
    <!-- <input  class="form-control"  placeholder="Provider / Physician Assistant"> -->
    <select class="form-control">
        <option selected>Choose...</option>
        <option value="1">ANY</option>
        <option value="2">NEW</option>
        <option value="3">OK</option>
      </select>
    </div>
    <div class="form-group col-md-3">
    <label >Specialty</label>
    <!-- <input  class="form-control"  placeholder="Specialty"> -->
    <select class="form-control">
        <option selected>Choose...</option>
        <option value="1">OK</option>
        <option value="2">NEW</option>
        <option value="3">ANY</option>
      </select>
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <!-- <label >Search From Date</label>
      <input  class="form-control" placeholder="Search From Date"> -->
      <!-- <mat-form-field> -->
          <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        <!-- </mat-form-field>  -->
        <label for="lastname-input" class="col-2.5 col-form-label">Search_From_Date

            <form action="/action_page.php">
              <input type="date" name="bday">
              <input type="submit">
            </form>
          </label>
    </div>
    <div class="form-group col-md-1">
      <input  type="checkbox" >
      <label>Clinical</label>
    </div>
    <div class="form-group col-md-1">
      <input  type="checkbox" >
      <label>PT</label>
    </div>
    <div class="form-group col-md-1">
      <input  type="checkbox" >
      <label>Dx</label>
    </div>
    <div class="form-group col-md-2">
      <label >Scheduler Start Time</label>
      <select class="form-control">
          <option selected>Choose...</option>
          <option value="1">1PM</option>
          <option value="2">2PM</option>
          <option value="3">3PM</option>
        </select>
    </div>
    <div class="form-group col-md-2">
      <label >Scheduler End Time</label>
      <!-- <input  class="form-control" placeholder="Scheduler End Time"> -->
      <select class="form-control">
          <option selected>Choose...</option>
          <option value="1">1PM</option>
          <option value="2">2PM</option>
          <option value="3">3PM</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Serch
    </button>
  </div>
</form>

